trigger: none

parameters:
  - name: customerName
    displayName: "Enter Customer Name (full name)"
    type: string

  - name: locationa
    displayName: "Azure Region"
    type: string
    default: "westeurope"

  - name: environment
    displayName: "Environment"
    type: string
    values:
      - dev
      - tst
      - prd
      - pprd

  - name: userEmail
    displayName: "New SFTP User Email"
    type: string

  - name: permission
    displayName: "Permission (read/write)"
    type: string
    values:
      - read
      - write

variables:
  subscriptionId: "f9ce80b6-846a-461b-a414-50be823f1223d"

pool:
  name: Default

steps:

# Step 1: Prepare Naming
- powershell: |
    $CUSTOMER     = "${{ parameters.customerName }}".ToLower().Replace(" ", "").Replace("'", "")
    $ENVIRONMENT  = "${{ parameters.environment }}"
    $LOCATION     = "${{ parameters.locationa }}"
    $PREFIX       = $CUSTOMER.Substring(0,3)
    $STORAGE      = "st$PREFIX$ENVIRONMENT" + "sftp"
    $RESOURCE_GROUP = "rg-$PREFIX-$ENVIRONMENT-sftp"
    $CONTAINER    = $STORAGE

    Write-Host "##vso[task.setvariable variable=CUSTOMER]$CUSTOMER"
    Write-Host "##vso[task.setvariable variable=PREFIX]$PREFIX"
    Write-Host "##vso[task.setvariable variable=STORAGE]$STORAGE"
    Write-Host "##vso[task.setvariable variable=RESOURCE_GROUP]$RESOURCE_GROUP"
    Write-Host "##vso[task.setvariable variable=CONTAINER]$CONTAINER"
    Write-Host "##vso[task.setvariable variable=LOCATION]$LOCATION"
    Write-Host "##vso[task.setvariable variable=ENVIRONMENT]$ENVIRONMENT"
  displayName: "Prepare Naming Convention"

# Step 2: Create Resource Group
- task: PowerShell@2
  displayName: "Create Resource Group"
  inputs:
    azureSubscription: "devopsspn"
    scriptType: pscore
    inlineScript: |
      az group create -n $env:RESOURCE_GROUP -l $env:LOCATION

# Step 3: Create Storage Account
- task: PowerShell@2
  displayName: "Create SFTP Storage Account"
  inputs:
    azureSubscription: "devopsspn"
    scriptType: pscore
    inlineScript: |
      az storage account create `
        -n $env:STORAGE `
        -g $env:RESOURCE_GROUP `
        -l $env:LOCATION `
        --sku Standard_LRS `
        --kind StorageV2 `
        --enable-sftp true `
        --allow-blob-public-access false

# Step 4: Create Blob Container
- task: PowerShell@2
  displayName: "Create Blob Container"
  inputs:
    azureSubscription: "devopsspn"
    scriptType: pscore
    inlineScript: |
      az storage container create `
        --account-name $env:STORAGE `
        --name $env:CONTAINER `
        --auth-mode login

# Step 5: Create SFTP User
- task: PowerShell@2
  displayName: "Create SFTP User"
  inputs:
    azureSubscription: "devopsspn"
    scriptType: pscore
    inlineScript: |
      $USERNAME = "${{ parameters.userEmail }}".Split("@")[0]
      $PASSWORD = [System.Convert]::ToBase64String((1..16 | ForEach-Object { Get-Random -Maximum 256 }))

      az storage account local-user create `
        --account-name $env:STORAGE `
        --username $USERNAME `
        --home-directory "/$env:CONTAINER" `
        --has-password true `
        --password "$PASSWORD" `
        --permission-scope permissions=${{ parameters.permission }} resource-name=$env:CONTAINER service=blob

      Write-Host "##vso[task.setvariable variable=SFTP_USERNAME]$USERNAME"
      Write-Host "##vso[task.setvariable variable=SFTP_PASSWORD;issecret=true]$PASSWORD"
